@model List<ShalomLibrary.Models.Domain.Books>
@{
}
<h1>Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>BookTitle</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Description</th>
            <th>YearPublished</th>
            <th>CopiesAvailable</th>
            <th>Price</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Books in Model)
        {
            <tr>
                <td>@Books.Id</td>
                <td>@Books.BookTitle</td>
                <td>@Books.Author</td>
                <td>@Books.Genre</td>
                <td>@Books.Description</td>
                <td>@Books.YearPublished</td>
                <td>@Books.CopiesAvailable</td>
                <td>@Books.Price</td>
                <td><a href="Books/View/@Books.Id">View</a></td>
            </tr>
        }
    </tbody>

</table>